body {
  font: 14px "helvetica neue", helvetica;
  color: #404040;
  padding: 0;
  margin: 0;
}
body.night {
  background: #242f3e;
  color: #fff;
}
.header {
  font-size: 18px;
  margin: 20px 15px 0;
  font-weight: 500;
}
.main {
  padding: 20px 10px 0;
  overflow: hidden;
}
.sliderWrapper {
  height: 45px;
  position: absolute;
  top: 0;
  border: 0 solid rgba(242, 251, 255, 0.8);
  will-change: left, right, border;
}
.night .sliderWrapper {
  border: 0 solid rgba(31, 42, 56, 0.8);
}
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1px solid rgba(143, 189, 222, 0.3);
  cursor: grab;
}
.sliderEdge {
  position: absolute;
  padding: 0 10px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: rgba(143, 189, 222, 0.3);
  background-clip: content-box;
}
.sliderCenter {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  margin: auto;
}
.sliderEdgeLeft {
  left: -10px;
}
.sliderEdgeRight {
  right: -10px;
}
.sliderEdge:hover {
  background-color: rgba(143, 189, 222, 0.4);
}
.transition {
  transition: opacity 0.2s;
}
.transition.translate {
  transition: transform 0.5s, opacity 0.5s;
  transform: scaleY(1);
}
.transition-d {
  transition: transform .5s; 
}
.transition-d-0 {
  transition: transform 0.001s;
}
.transition-p {
  transition: opacity .5s, d .5s;
}
.transition-t-d {
  transform: scaleY(0);
  transition: transform 0.5s, d 0.5s;
}
.entering.transition-t-d,
.exiting.transition-t-d,
.exited.transition-t-d {
  transform: scaleY(0);
}
.entered.transition-t-d {
  transform: scaleY(1);
}
.exiting,
.exited {
  opacity: 0;
}
.entering {
  opacity: 1;
}
.entered {
  opacity: 1;
}
.buttons {
  margin-top: 20px;
}
.button {
  display: inline-flex;
  height: 32px;
  padding: 0 12px 0 8px;
  align-items: center;
  border-radius: 32px;
  border: 1px solid rgba(115, 153, 178, 0.2);
  margin-right: 15px;
}
.button-label {
  position: relative;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}
.button-icon {
  transition: all 0.2s ease-out;
  position: absolute;
  width: 8px;
  height: 3px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: -1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.button-icon.active {
  height: 12px;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 8px;
  width: 12px;
}
.night .button-icon.active {
  border-color: #242f3e;
  background: #242f3e;
}
.switch {
  margin: 50px 0;
  color: #108be3;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fw {
  width: 100%;
}
.fh {
  height: 315px;
}
.w-ch-c {
  will-change: contents;
}
.w-ch {
  will-change: transform;
}
.c-s {
  contain: strict;
}
.r-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(115, 153, 178, 0.2);
  color: rgba(106, 126, 140, 0.8);
  font-size: 11px;
  font-weight: 300;
}
.flex-labels {
  box-sizing: border-box;
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
}
.flex-item {
  margin: 0 -16px;
}

.l-text {
  color: rgba(106, 126, 140, 0.8);
  font-size: 11px;
  font-weight: 300;
}
.popup {
  box-sizing: border-box;
  font-size: 12px;
  background: #fff;
  padding: 7px 14px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.05);
  z-index: 20;
}
.proc {
  display: inline-block;
  width: 25px;
  text-align: right;
  margin-right: 5px;
}
.b {
  font-weight: 600;
}
.p {
  margin-bottom: 5px;
}
.top {
  top: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
}
/* .popup {
  width: 110px;
  height: 78px;
  fill: #fff;
  stroke: rgba(0,0,0,.1);
  stroke-width: 1px;
} */

.night .n-text {
  fill: #fff;
}
.n-fill {
  fill: #fff;
}
.night .n-fill {
  fill: #242f3e;
}
.night .n-bg {
  background: #242f3e;
}
.bench {
  width: 100px;
  height: 5px;
  border-bottom: 1px solid #ddd;
  background: #f1f1f1;
  /* transition: transform .5s; */
  /* pointer-events: none; */
}
.bench-wrapper {
  /* position: absolute; */
  /* top: 50px; */
  /* left: 0; */
  /* transition: opacity .5s; */
  /* pointer-events: none; */
  will-change: transform;
}
.bench-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}
